# file named .gitignore

system/application/config/database.php
system/application/config/config.php
system/logs/
system/cache/

modules/recaptcha/config/recaptcha.php
# assets/images/cecilie/


# Vim leave-behinds
*.swp

